<div class="banner" style="background-image: url('assets/imagenes/default/personas.png');background-repeat: no-repeat;background-size: cover;background-position:center ;background-attachment: fixed;">
    <div style="background: linear-gradient(to bottom, #197dff8f,70%, #ff276894);position:absolute;top:0;left:0;width: 100%;height: 100%;">
        <div class="container2" style="position: relative;">

            <div class="container-img-profile" style="background-image:url('assets/imagenes/default/perfil.jpg')">
                <div class="text">
                    <h1>Dra. Belizabeth Montilla</h1>
                    <h2>Psicóloga Clínica</h2>
                </div>
            </div>
            <div class="text2">
                El único límite está en tu mente, las barreras son la discapacidad de la sociedad.
            </div>
        </div>
    </div>
    <div style="height: 100px; overflow: hidden;position:absolute;bottom:0;width: 100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-53.89,53.80 C149.99,150.00 343.40,-32.05 534.71,131.75 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:rgba(255, 255, 255, 0.329);"></path></svg></div>
    <div style="height: 70px; overflow: hidden;position:absolute;bottom:0;width: 100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-53.89,53.80 C149.99,150.00 343.40,-32.05 534.71,131.75 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:white;"></path></svg></div>
</div>
<div style="height: 500px;background:rgb(238, 238, 238)">
    <app-last-articles></app-last-articles>
</div>
<div class="animate fadeIn ">


    <div style="background: rgb(255, 244, 255);position: relative;z-index: 1;">
        <div style="height: 120px; overflow: hidden;position: absolute;top:0;width:100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.54,-10.34 C149.99,150.00 271.49,-49.98 517.21,65.63 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(255, 227, 255);"></path></svg></div>
        <div style="height: 70px; overflow: hidden;position: absolute;top:0;width: 100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.54,-10.34 C149.99,150.00 271.49,-49.98 517.21,65.63 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
        <br>
        <app-help-you></app-help-you>
        <br>
        <br>
        <div style="height: 70px; overflow: hidden;position:absolute;bottom:0;width: 100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-53.89,53.80 C149.99,150.00 343.40,-32.05 534.71,131.75 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:white;"></path></svg></div>
        <div style="height: 110px; overflow: hidden;position:absolute;bottom:0;width: 100%;z-index: -2;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-53.89,53.80 C149.99,150.00 343.40,-32.05 534.71,131.75 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:rgb(255, 227, 255);"></path></svg></div>
    </div>
    <app-last-articles></app-last-articles>
    <app-last-videos></app-last-videos>
    <app-wellness></app-wellness>
</div>