<div class="footer" *ngIf="!isRouteAdmin()" style="clear: both;">
    <div class="container2">
        <div class="row" style="width: 100%;">
            <div class="col-12  col-sm-6 col-md-6 col-lg-3 col-xl-3 my-3">
                <div>
                    <h2 class="text-center"> <i class="fab fa-whatsapp"></i> </h2>

                    <h6 class="text-center"> +593-99-2747842 </h6>
                </div>
            </div>
            <div class=" col-12  col-sm-6 col-md-6 col-lg-3 col-xl-3 my-3">
                <div>
                    <h2 class="text-center"> <i class="fas fa-user-plus"></i> </h2>

                    <h6 class="text-center"> <i class="fab fa-facebook-square"></i> Belizabeth-Montilla </h6>
                    <h6 class="text-center"> <i class="fab fa-instagram"></i> Belizabethmontillapsicologa </h6>
                </div>
            </div>

            <div class=" col-12  col-sm-6 col-md-6 col-lg-3 col-xl-3 my-3">
                <div>
                    <h2 class="text-center"> <i class="fas fa-envelope"></i> </h2>

                    <h6 class="text-center"> Info@terapia-parejas.com </h6>
                </div>
            </div>

            <div class=" col-12  col-sm-6 col-md-6 col-lg-3 col-xl-3 my-3">
                <div class="">
                    <h2 class="text-center"> <i class="fas fa-map-marked-alt"></i> </h2>

                    <h6 class="text-center"> Quito - Ecuador </h6>
                </div>
            </div>

        </div>


    </div>
</div>